amqp==5.3.1
asgiref==3.8.1
billiard==4.2.1
celery==5.4.0
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
distlib==0.3.9
Django==5.0.1
django-debug-toolbar==5.0.1
djangorestframework==3.15.2
djangorestframework_simplejwt==5.4.0
filelock==3.16.1
kombu==5.4.2
mysqlclient==2.2.6
numpy==2.1.1
pandas==2.2.3
pillow==11.0.0
platformdirs==4.3.6
prompt_toolkit==3.0.50
PyJWT==2.10.1
python-dateutil==2.9.0.post0
pytz==2024.2
redis==5.2.1
six==1.16.0
sqlparse==0.5.1
tzdata==2024.2
vine==5.1.0
virtualenv==20.27.1
wcwidth==0.2.13
