<!DOCTYPE html>
<html lang="en">

{% extends 'courses_app/layout.html' %}

{% block navbar %}
<div class="navbar-nav ms-auto p-4 p-lg-0">
    <a href="{% url 'instructors_dashboard' %}" class="nav-item nav-link active">Home</a>    
    <a href="" class="nav-item nav-link">Students</a>   
    <a href="" class="nav-item nav-link">Sessions</a>
    <a href="" class="nav-item nav-link">Notes</a>      
    <a href="" class="nav-item nav-link">Assignments</a>  
   
</div>
<a href="" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block"><h5 class="mb-0">Hii! Shivada</h5><img class="border rounded-circle p-2 mx-auto mb-3" src="../static/img/testimonial-1.jpg" style="width: 80px; height: 80px;">
</a>
{% endblock %}
{% block content %}