<!DOCTYPE html>
<html lang="en">

{% extends 'courses_app/layout.html' %}

{% block navbar %}
{% include "instructors_app/includes/instructor_navbar.html" %}
{% endblock %}
{% block content %}
<h2>Quiz Questions</h2>
<a href="{% url 'add_quiz' %}" class="btn btn-success">Add Quiz Question</a>
<table class="table">
    <thead>
        <tr>
            <th>Question</th>
            <th>Options</th>
            <th>Correct Answer</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for quiz in quizzes %}
        <tr>
            <td>{{ quiz.question }}</td>
            <td>
                1) {{ quiz.option1 }} <br>
                2) {{ quiz.option2 }} <br>
                3) {{ quiz.option3 }} <br>
                4) {{ quiz.option4 }}
            </td>
            <td>{{ quiz.correct_answer }}</td>
            <td>
                <a href="{% url 'edit_quiz' quiz.id %}" class="btn btn-warning btn-sm">Edit</a>
                <a href="{% url 'delete_quiz' quiz.id %}" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}