<!DOCTYPE html>
<html lang="en">

{% extends 'courses_app/layout.html' %}

{% block navbar %}
{% include "instructors_app/includes/instructor_navbar.html" %}
{% endblock %}


{% block content %}
<div class="container-xxl py-5">
    <div class="container">
        <h2>Students List</h2>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Student Name</th>
                    <th>Email</th>
                    <th>Course</th>
                </tr>
            </thead>
            <tbody>
                {% for enrollment in enrollments %}
                <tr>
                    <td>{{ enrollment.student.username }}</td>
                    <td>{{ enrollment.student.email }}</td>
                    <td>{{ enrollment.course.title }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3">No students enrolled in your courses yet.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
